---
# zsh and user environment
- name: Install zsh
  ansible.builtin.package:
    name: zsh
    state: present
  become: true

- name: Download ohmyzsh
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: "/home/{{ user }}/install.sh"
    mode: '0755'

- name: Install ohmyzsh
  ansible.builtin.script:
    cmd: "/home/{{ user }}/install.sh"

- name: Install PowerLevel10K
  ansible.builtin.git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: "/home/{{ user }}/.oh-my-zsh/custom/themes/powerlevel10k"
    depth: 1

- name: Download NerdFonts
  ansible.builtin.get_url:
    url: https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/Meslo.zip
    dest: "/home/{{ user }}/Meslo.zip"

- name: Create temp directory for fonts
  ansible.builtin.file:
    path: "/home/{{ user }}/Meslo"
    state: directory
    mode: '0755'

- name: Unarchive font files
  ansible.builtin.unarchive:
    src: "/home/{{ user }}/Meslo.zip"
    dest: "/home/{{ user }}/Meslo"

- name: Move font files to fonts directory
  ansible.builtin.copy:
    src: "/home/{{ user }}/Meslo"
    dest: /usr/share/fonts/Meslo
    owner: root
  become: true

- name: Add PowerLevel10K source to .zshrc
  ansible.builtin.lineinfile:
    path: "/home/{{ user }}/.zshrc"
    insertafter: EOF
    line: "source /home/{{ user }}/.oh-my-zsh/custom/themes/powerlevel10k/powerlevel10k.zsh-theme"

# Base utilities
- name: Install git
  ansible.builtin.package:
    name: git
    state: present
  become: true

- name: Install vim
  ansible.builtin.package:
    name: vim
    state: present
  become: true

- name: Set EDITOR environmental variable to vim
  ansible.builtin.lineinfile:
    path: "/home/{{ user }}/.zshrc"
    line: 'export EDITOR=vim'
    create: true
    insertafter: EOF
    state: present

- name: Install fzf
  ansible.builtin.package:
    name: fzf
    state: present
  become: true

- name: Install bat
  ansible.builtin.package:
    name: bat
    state: present
  become: true

- name: Install mosh
  ansible.builtin.package:
    name: mosh
    state: present
  become: true

# tmux
- name: Install tmux
  ansible.builtin.package:
    name: tmux
    state: present
  become: true

- name: Install Oh my tmux
  ansible.builtin.shell: 'curl -fsSL "https://github.com/gpakosz/.tmux/raw/refs/heads/master/install.sh#$(date +%s)" | bash'
  args:
    executable: /bin/bash
    creates: "/home/{{ user }}/.tmux"
  become: true
  become_user: "{{ user }}"
  environment:
    HOME: "/home/{{ user }}"

# mise and Python + pip packages
- name: Download mise installer script
  ansible.builtin.get_url:
    url: https://mise.run
    dest: /tmp/install_mise.sh
    mode: '0755'

- name: Run mise installer script
  ansible.builtin.shell: /tmp/install_mise.sh

- name: Add mise activations to runtime config
  ansible.builtin.lineinfile:
    path: "/home/{{ user }}/.zshrc"
    line: 'eval "$(/home/{{ user }}/.local/bin/mise activate zsh)"'
    create: true
    insertafter: EOF
    state: present

# TODO: derive targeted Python version from a set variable
- name: Install Python Latest via mise
  ansible.builtin.shell: 'mise install python@latest'

- name: Set global Python version with mise
  ansible.builtin.shell: 'mise use -g python@latest'

- name: Save Python version to variable
  ansible.builtin.command: python -c "import sys; print(f'{sys.version_info.major}.{sys.version_info.minor}.{sys.version_info.micro}')"
  register: python_version

- name: Install pytap2 (Meshtastic dependency)
  ansible.builtin.shell: 'pip install --upgrade pytap2'

- name: Install Meshtastic CLI
  ansible.builtin.shell: 'pip install --upgrade meshtastic[cli]'

# Cron jobs
- name: Schedule a weekly reboot of the pi
  ansible.builtin.cron:
    name: "weekly_pi_reboot"
    user: "root"
    minute: "0"
    hour: "4"
    job: "/sbin/shutdown -r now"
    state: present

- name: Schedule a weekly reboot of the Meshtastic node
  ansible.builtin.cron:
    name: "weekly_node_reboot"
    user: "{{ user }}"
    minute: "30"
    hour: "4"
    job: "/home/{{ user }}/.local/share/mise/installs/python/{{ python_version.stdout }}/bin/meshtastic --reboot"
    state: present

- name: Schedule a daily backup of the Meshtastic node's config
  ansible.builtin.cron:
    name: "daily_node_config_backup"
    user: "{{ user }}"
    minute: "15"
    hour: "2"
    job: "/home/{{ user }}/.local/share/mise/installs/python/{{ python_version.stdout }}/bin/python /home/{{ user }}/scripts/backup_node_config.py"
    state: present

- name: Schedule a daily attempt to update the Meshtastic CLI
  ansible.builtin.cron:
    name: "daily_meshtastic_cli_update"
    user: "{{ user }}"
    minute: "0"
    hour: "0"
    job: '/home/{{ user }}/.local/share/mise/installs/python/{{ python_version.stdout }}/bin/pip install --upgrade --no-cache-dir "meshtastic[cli]"'
    state: present
